<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI0UU0kUcessoO1V2Q6gcblh6VLSDKDlI</string>
	<key>GCM_SENDER_ID</key>
	<string>557995554833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heaven.hv02.TemplateiOS</string>
	<key>PROJECT_ID</key>
	<string>hv02-fake-wall</string>
	<key>STORAGE_BUCKET</key>
	<string>hv02-fake-wall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557995554833:ios:504ea25988f985527f19b0</string>
</dict>
</plist>